*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #e4dace;
/*     background-color: #2B4448;*/
}
div{
  display: block;
}
:root {
    --main-color: #403931;
  }
.navbar1 {
    overflow: hidden;
    background-color: var(--main-color);
  }
.navbar1 .img{
    float: left;
    left: 0;
    margin: 4px 0 0 10px;
    padding: 0
}
.navbar1 .img img{
    /* margin: 0; */
    width: 125px;
    height: auto;
    mix-blend-mode: screen;
}
.navbar1 a, .search{
    float: right;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown1 {
    float: right;
    overflow: hidden;
}
  
.dropdown1 .dropbtn1 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: var(--main-color);
    font-family: inherit;
    margin: 0;
}
  
.navbar1 a:hover, .dropdown1:hover .dropbtn1 {
    background-color: var(--main-color);
}
  
.dropdown-content1 {
    display: none;
    position: absolute;
 
    background-color: var(--main-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content1 a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content1 a:hover {
    background-color: #b1b2a2;
    color: #2B394A;
}
  
.dropdown1:hover .dropdown-content1 {
    display: block;
}
.search-box1{
    float: right;
    width: fit-content;
    height: fit-content;
    position: relative;
}
.search-box1 {
    background-color: var(--main-color);
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search1 {
    height: 50px;
    width: 50px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    background-color: var(--main-color);
    color: white;
}
.input-search1::placeholder {
    margin-left: 50px;
    color: white /* rgba(255, 255, 255, 0.5) */;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search1 {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
/*     background-color: transparent; */
    pointer-events: painted;
}
.btn-search1:focus ~ .input-search1 {
    width: 320px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search1:focus {
    width: 320px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
@media screen and (max-width: 700px){
    .input-search1::placeholder {
        font-size: 12px;
        letter-spacing: 0;
    }
    .btn-search1:focus ~ .input-search1 {
        width: 200px;
    }
    .input-search1:focus {
        width: 200px;
    }
}
/* PC */
@media screen and (min-width: 990px){
    /* Main */
    .main-layout{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto 300px;
        grid-gap: 20px;
        padding: 20px;
    }
    .layout:first-child{
        grid-column: 1/5;
        grid-row: 1/2;
        border-radius: 5px;
        /* border: red 1px solid; */ 
    }
    .layout:nth-child(2){
        /* overflow: scroll; */
        grid-column: 1/4;
        grid-row: 2/4;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
    /* Top Ranking */
    .layout:nth-child(3){
        grid-column: 4/5;
        grid-row: 2/3;
        border-radius: 5px;
        /* border: red 1px solid; */ 
    }
    /* Top tryuen */
    .top-truyen h2{
        color: #fff;
        background: var(--main-color);
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 700;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .top-truyen ul{
    position: relative;
    background: #fff;
    }

    .top-truyen ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    transition: transform 0.5s;
    }
    .top-truyen ul li:nth-child(1){
        color: rgb(211, 0, 0);
    }
    .top-truyen ul li:nth-child(2){
        color: rgb(212, 138, 0);
    }
    .top-truyen ul li:nth-child(3){
        color: rgb(187, 187, 0);
    }

    .top-truyen ul li:nth-child(1):hover{
        color: rgb(255, 42, 42);
    }
    .top-truyen ul li:nth-child(2):hover{
        color: rgb(255, 166, 0);
    }
    .top-truyen ul li:nth-child(3):hover{
        color: rgb(255, 255, 0);
    }

    .top-truyen ul li span{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size:16px;
    font-weight: bold;
    }

    .top-truyen ul:hover li {
    opacity: 0.2;
    }
    .top-truyen ul li:hover{
    transform: scale(1.1);
    z-index: 10;
    background: #b1b2a2;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 1;
    }
    .top-truyen ul li:hover span {
    background: #fff;
    color: #b1b2a2;
    }
    /* About */
    .layout:nth-child(4){
        grid-column: 1/5;
        grid-row: 4/5;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
}
/* 1/2 PC */
@media screen and (min-width: 575px){
    /* Main */
    .main-layout{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 20px;
        padding: 20px;
    }
    .layout:first-child{
        grid-column: 1/5;
        grid-row: 1/2;
        border-radius: 5px;
        /* border: red 1px solid; */ 
    }
    .layout:nth-child(2){
        /* overflow: scroll; */
        grid-column: 1/4;
        grid-row: 2/5;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
    /* Top Ranking */
    .layout:nth-child(3){
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px; */
        grid-column: 4/5;
        grid-row: 2/3;
        border-radius: 5px;
        /* border: red 1px solid;  */
    }
    /* Top tryuen */
    .top-truyen h2{
        color: #fff;
        background: var(--main-color);
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 700;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .top-truyen ul{
    position: relative;
    background: #fff;
    }

    .top-truyen ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    transition: transform 0.5s;
    }
    .top-truyen ul li:nth-child(1){
        color: rgb(211, 0, 0);
    }
    .top-truyen ul li:nth-child(2){
        color: rgb(212, 138, 0);
    }
    .top-truyen ul li:nth-child(3){
        color: rgb(187, 187, 0);
    }

    .top-truyen ul li:nth-child(1):hover{
        color: rgb(255, 42, 42);
    }
    .top-truyen ul li:nth-child(2):hover{
        color: rgb(255, 166, 0);
    }
    .top-truyen ul li:nth-child(3):hover{
        color: rgb(255, 255, 0);
    }

    .top-truyen ul li span{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size:16px;
    font-weight: bold;
    }

    .top-truyen ul:hover li {
    opacity: 0.2;
    }
    .top-truyen ul li:hover{
    transform: scale(1.1);
    z-index: 10;
    background: var(--main-color);
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 1;
    }
    .top-truyen ul li:hover span {
    background: #fff;
    color: var(--main-color);
    }
    /* About */
    .layout:nth-child(4){
        grid-column: 1/5;
        grid-row: 4/5;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
}
@media screen and (max-width: 575px){
    /* Main */
    .main-layout{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 20px;
        padding: 20px;
    }
    .layout:first-child{
        grid-column: 1/5;
        grid-row: 1/2;
        border-radius: 5px;
        /* border: red 1px solid; */ 
    }
    .layout:nth-child(2){
        /* overflow: scroll; */
        grid-column: 1/5;
        grid-row: 2/3;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
    /* Top Ranking */
    .layout:nth-child(3){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        grid-column: 1/5;
        grid-row: 3/4;
        border-radius: 5px;
        /* border: red 1px solid;  */
    }
    /* Top tryuen */
    .top-truyen h2{
        color: #fff;
        background: var(--main-color);
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 700;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .top-truyen ul{
    position: relative;
    background: #fff;
    }

    .top-truyen ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    transition: transform 0.5s;
    }
    .top-truyen ul li:nth-child(1){
        color: rgb(211, 0, 0);
    }
    .top-truyen ul li:nth-child(2){
        color: rgb(212, 138, 0);
    }
    .top-truyen ul li:nth-child(3){
        color: rgb(187, 187, 0);
    }

    .top-truyen ul li:nth-child(1):hover{
        color: rgb(255, 42, 42);
    }
    .top-truyen ul li:nth-child(2):hover{
        color: rgb(255, 166, 0);
    }
    .top-truyen ul li:nth-child(3):hover{
        color: rgb(255, 255, 0);
    }

    .top-truyen ul li span{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size:16px;
    font-weight: bold;
    }

    .top-truyen ul:hover li {
    opacity: 0.2;
    }
    .top-truyen ul li:hover{
    transform: scale(1.1);
    z-index: 10;
    background: var(--main-color);
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 1;
    }
    .top-truyen ul li:hover span {
    background: #fff;
    color: var(--main-color);
    }
    /* About */
    .layout:nth-child(4){
        grid-column: 1/5;
        grid-row: 4/5;
        border-radius: 5px;
        /* border: red 1px solid; */
    }
}
/* Main Slider*/
.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}
.slider-title{
    margin: 0 25px;
    font-weight: 700;
    color: #2B394A;
    font-size: 30px;
}
.slide-img{
    height: 450px;
    position: relative;
    
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: var(--main-color);
/*     font-family: calibri; */
}
.detail-box a{
    text-decoration: none;
}
.type{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}
.type a{
    color: white;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span{
    color: white;
    background-color: var(--main-color);
}
.title{
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #1e1f1b93;
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
}
.read-btn:hover{
    color: #FFFFFF;
    background-color: var(--main-color);
    transition: all ease 0.3s;
}
.overlay{
    visibility: hidden;
}
.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.slider{
    width: 100%;
/*     height: 100vh; */
    justify-content: center;
    align-items: center;
}

/* Phan tu trong Main */
.row{
    display: flex;
    flex-wrap: wrap;
/*     justify-content: space-around; */
    margin: auto;
}
.col-lg-3{
    margin: 0 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
}
.col-lg-3 img{
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}
.col-lg-3 a{
    text-decoration: none;
}
.title-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #4c4d45);
    opacity: 0;
    transition: 0.5s;
/*     margin-bottom: 10px; */
}
.desc-overlay{
    width: 80%;
    position: absolute;
/*     box-shadow: 0 0 20px #e4dace; */
    background-color: rgba(0, 0, 0, 0);
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}
.col-lg-3:hover .title-overlay{
    opacity: 1;
}
.col-lg-3:hover .desc-overlay{
    bottom: 10%;
    opacity: 1;
}
.desc-overlay h5{
    margin: 10px 5px 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 700;
    font-size: 25px;
}
.up, .in{
    margin: 0 10px;
    font-size: 13px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
/* Main of layout */
.item{
    border-radius: 5px;
    /* border: red 1px solid; */
    width: 290px;
    height: 390px;
}
/* Footer */
#footer{
    color: gray;
    font-size: 14px;
}
#footer .footer-top{
    margin: 0 35px;
    border-bottom: 1px solid gray;
}
#footer .footer-left{
    float: left;
    display: flex;
    margin-left: 60px;
}
#footer .footer-left a{
    margin: 50px 10px;
    color: gray;    
    text-decoration: none;
}
#footer .footer-right{
    float: right;
    display: flex;
    margin-right: 50px;
}
#footer .footer-right a,h6{
    margin: 50px 10px;
    color: gray;    
    text-decoration: none;
}
#footer .footer-right a .alkblog{
    font-size: 10px;
}
@media screen and (max-width: 650px){
    #footer .footer-left{
        margin: 0;
    }
    #footer .footer-left a{
        margin: 10px 5px;
    }
    #footer .footer-right{
        margin: 0;
    }
    #footer .footer-right a,h6{
        margin: 10px 5px;
    }
}
